:root {
	--foundation--orange-light: #fff1e6;
	--foundation--orange-light-:hover: #ffe9d9;
	--foundation--orange-light-:active: #fed2b0;
	--foundation--orange-normal: #fd6f00;
	--foundation--orange-normal-:hover: #e46400;
	--foundation--orange-normal-:active: #ca5900;
	--foundation--orange-dark: #be5300;
	--foundation--orange-dark-:hover: #984300;
	--foundation--orange-dark-:active: #723200;
	--foundation--orange-darker: #592700;
	--foundation--black-light: #e6e6e6;
	--foundation--black-light-:hover: #d9d9d9;
	--foundation--black-light-:active: #b0b0b0;
	--foundation--black-normal: #000;
	--foundation--black-normal-:hover: #000;
	--foundation--black-normal-:active: #000;
	--foundation--black-dark: #000;
	--foundation--black-dark-:hover: #000;
	--foundation--black-dark-:active: #000;
	--foundation--black-darker: #000;
	--foundation--white-light: #fefefe;
	--foundation--white-light-:hover: #fefefe;
	--foundation--white-light-:active: #fdfdfd;
	--foundation--white-normal: #f8f8f8;
	--foundation--white-normal-:hover: #dfdfdf;
	--foundation--white-normal-:active: #c6c6c6;
	--foundation--white-dark: #bababa;
	--foundation--white-dark-:hover: #959595;
	--foundation--white-dark-:active: #707070;
	--foundation--white-darker: #575757;
	--foundation--grey-light: #e9e9e9;
	--foundation--grey-light-:hover: #ddd;
	--foundation--grey-light-:active: #b9b9b9;
	--foundation--grey-normal: #1e1e1e;
	--foundation--grey-normal-:hover: #1b1b1b;
	--foundation--grey-normal-:active: #181818;
	--foundation--grey-dark: #171717;
	--foundation--grey-dark-:hover: #121212;
	--foundation--grey-dark-:active: #0d0d0d;
	--foundation--grey-darker: #0b0b0b;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,ul{
    list-style: none;
}
ol,ul,li,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
   
}
a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--foundation--grey-normal);
    color: var(--foundation--white-light);
    font-size: 1rem;
    line-height: 1.5;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav{
    background-color: var(--foundation--grey-dark);
 
}
.nav ul li{
    margin: 0 15px;
}
.nav ul{
	display:flex;
	justify-content: center;
	
}
.nav ul li a{
	font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
letter-spacing: 0.03em;
text-align: justify;
color: var(--foundation--white-dark-);
}
header .button{
	border-radius: 8px;
padding: 12px 40px;
width: 141px;
height: 43px;
background: linear-gradient(129deg, #fd6f00 0%, #e46400 100%);
font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
letter-spacing: 0.03em;
text-align: justify;
color: #fff;
}
